.dashboard-content {
  margin-left: 270px;
  padding: 30px;
}

.dashboard-content h1 {
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  text-align: center;
}

.card h2 {
  color: #0d47a1;
}
.recent-activity{
    margin-top:40px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.recent-activity h2{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#0d47a1;
    color:white;
    padding:15px;
}

td{
    padding:15px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

tr:hover{
    background:#f5f5f5;
}
